{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Bloque Activaciones -->
<div class="col-md-6">
  <!-- Application buttons -->
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Activaciones Vs Cuota</h3>
    </div>
    <div class="box-body">


      <p>Al hacer click en cualquier boton podras ver de manera grafica la informacion solicitada:</p>
      <a class="btn btn-app" onclick="return abrir_modal('/prueba')">
        <i class="fa fa-edit"></i> General

      </a>
      <a class="btn btn-app">
        <i class="fa fa-play"></i> Terminal
      </a>
      <a class="btn btn-app">
        <i class="fa fa-repeat"></i> Tecnologia
      </a>
      <a class="btn btn-app">
        <i class="fas fa-pause"></i> Region
      </a>
      <a class="btn btn-app">
        <i class="fa fa-save"></i> Gerente
      </a>
      <a class="btn btn-app">
        <span class="badge bg-yellow">Nuevo</span>
        <i class="fa fa-bullhorn"></i> Direccion
      </a>
      <a class="btn btn-app">
        <i class="fa fa-barcode"></i> Estado
      </a>
      <a class="btn btn-app">
        <i class="fa fa-users"></i> Users
      </a>
      <a class="btn btn-app">
        <i class="fa fa-inbox"></i> Orders
      </a>
      <a class="btn btn-app">
        <i class="fa fa-envelope"></i> Inbox
      </a>

    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->

</div>
<!-- Bloque Altas -->
<div class="col-md-6">
  <!-- Application buttons -->
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Altas Vs Cuota</h3>
    </div>
    <div class="box-body">
      <p>Al hacer click en cualquier boton podras ver de manera grafica la informacion solicitada:</p>
      <a class="btn btn-app">
        <i class="fa fa-edit"></i> Edit
      </a>
      <a class="btn btn-app">
        <i class="fa fa-play"></i> Play
      </a>
      <a class="btn btn-app">
        <i class="fa fa-repeat"></i> Repeat
      </a>
      <a class="btn btn-app">
        <i class="fa fa-pause"></i> Pause
      </a>
      <a class="btn btn-app">
        <i class="fa fa-save"></i> Save
      </a>
      <a class="btn btn-app">
        <i class="fa fa-bullhorn"></i> Notifications
      </a>
      <a class="btn btn-app">
        <i class="fa fa-barcode"></i> Products
      </a>
      <a class="btn btn-app">
        <i class="fa fa-users"></i> Users
      </a>
      <a class="btn btn-app">
        <i class="fa fa-inbox"></i> Orders
      </a>
      <a class="btn btn-app">
        <i class="fa fa-envelope"></i> Inbox
      </a>

    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->

</div>
<!-- Bloque Bajas -->
<div class="col-md-6">
  <!-- Application buttons -->
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Bajas</h3>
    </div>
    <div class="box-body">
      <p>Al hacer click en cualquier boton podras ver de manera grafica la informacion solicitada:</p>
      <a class="btn btn-app">
        <i class="fa fa-edit"></i> Edit
      </a>
      <a class="btn btn-app">
        <i class="fa fa-play"></i> Play
      </a>
      <a class="btn btn-app">
        <i class="fa fa-repeat"></i> Repeat
      </a>
      <a class="btn btn-app">
        <i class="fa fa-pause"></i> Pause
      </a>
      <a class="btn btn-app">
        <i class="fa fa-save"></i> Save
      </a>
      <a class="btn btn-app">
        <i class="fa fa-bullhorn"></i> Notifications
      </a>
      <a class="btn btn-app">
        <i class="fa fa-barcode"></i> Products
      </a>
      <a class="btn btn-app">
        <i class="fa fa-users"></i> Users
      </a>
      <a class="btn btn-app">
        <i class="fa fa-inbox"></i> Orders
      </a>
      <a class="btn btn-app">
        <i class="fa fa-envelope"></i> Inbox
      </a>

    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->

</div>
<!-- Bloque Recargas -->
<div class="col-md-6">
  <!-- Application buttons -->
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Recargas</h3>
    </div>
    <div class="box-body">
      <p>Al hacer click en cualquier boton podras ver de manera grafica la informacion solicitada:</p>
      <a class="btn btn-app">
        <i class="fa fa-edit"></i> Edit
      </a>
      <a class="btn btn-app">
        <i class="fa fa-play"></i> Play
      </a>
      <a class="btn btn-app">
        <i class="fa fa-repeat"></i> Repeat
      </a>
      <a class="btn btn-app">
        <i class="fa fa-pause"></i> Pause
      </a>
      <a class="btn btn-app">
        <i class="fa fa-save"></i> Save
      </a>
      <a class="btn btn-app">
        <i class="fa fa-bullhorn"></i> Notifications
      </a>
      <a class="btn btn-app">
        <i class="fa fa-barcode"></i> Products
      </a>
      <a class="btn btn-app">
        <i class="fa fa-users"></i> Users
      </a>
      <a class="btn btn-app">
        <i class="fa fa-inbox"></i> Orders
      </a>
      <a class="btn btn-app">
        <i class="fa fa-envelope"></i> Inbox
      </a>

    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>


<div id="chartdiv" class="chart" ></div>
<div id="popup" class="modal" role="dialog">
</div>
{%endblock%}
{%block extra_js%}
<!-- Resources -->
<style>
#chartdiv {
  width		: 100%;
  height		: 500px;
  font-size	: 11px;
}
</style>
<!-- VUE  -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

<!-- <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'> -->
</script>
<script>
function abrir_modal(url)
{

        $('#popup').load(url, function()
        {      $(this).modal("show");


         });

        return false;

};


</script>

<script>
function cerrar_modal()
{
        $('#popup').modal('hide');
        return false;
};
</script>

<script type="text/javascript">
var chart = AmCharts.makeChart("chartdiv", {
  "type": "serial",
  "theme": "light",
  "startDuration": 2,
  "thousandsSeparator": '.',
  "legend":
  {
    "equalWidths": false,
    "useGraphSettings": true,
    "valueAlign": "left",
    "valueWidth": 120
  },
  "dataProvider": [],

  "graphs": [
    {
    "alphaField": "alpha",
    "balloonText": "[[value]] Activaciones",
    "dashLengthField": "dashLength",
    "fillAlphas": 0.7,
    "legendPeriodValueText": "[[value.sum]]",
    "legendValueText": "[[value]]",
    "title": "Activaciones:",
    "type": "column",
    "valueField": "cantidad",
    "valueAxis": "distanceAxis"
    },
    {
    "balloonText": "Cuota de [[value]]",
    "bullet": "round",
    "bulletBorderAlpha": 1,
    "useLineColorForBulletBorder": true,
    "bulletColor": "#FFFFFF",
    "legendPeriodValueText": "[[value.sum]]",
    "legendValueText": "[[value]]",
    "title": "Cuota:",
    "fillAlphas": 0,
    "valueField": "cuota",
    "valueAxis": "latitudeAxis"
  },
  {
  "balloonText": "Cuota de [[value]]",
  "bullet": "round",
  "bulletBorderAlpha": 1,
  "useLineColorForBulletBorder": true,
  "bulletColor": "#FFFFFF",
  "legendValueText": "[[value]]%",
  "title": "Cuota:",
  "fillAlphas": 0,
  "valueField": "cumplimiento",
  "valueAxis": "latitudeAxis",
  // "markerType": "triangleUp",
  "type": "none"
  }],
    "chartCursor": {
      "categoryBalloonDateFormat": "DD",
      "cursorAlpha": 0.1,
      "cursorColor": "#000000",
      "fullWidth": true,
      "valueBalloonsEnabled": false,
      "zoomable": false
    },
    "dataDateFormat": "YYYY-MM-DD",
    "categoryField": "fecha",
    "categoryAxis": {
      "dateFormats": [{
        "period": "DD",
        "format": "DD"
      }, {
        "period": "WW",
        "format": "MMM DD"
      }, {
        "period": "MM",
        "format": "MMM"
      }, {
        "period": "YYYY",
        "format": "YYYY"
      }],
      "parseDates": true,
      "autoGridCount": false,
      "axisColor": "#555555",
      "gridAlpha": 0.1,
      "gridColor": "#FFFFFF",
      "gridCount": 50
    },

  });
</script>



<script type="text/javascript">
function showPopup( id ) {
  var chart = $( "#" + id );
  var modal = $( "<div>" ).addClass( "modal" );
  var shade = $( "<div>" ).addClass( "shade" ).appendTo( modal ).on( "click", close );
  var placeholder = $( "<div>" ).prop( "id", id + "_placeholder" ).hide().insertBefore( chart );
  $( document.body ).append( modal );
  chart.appendTo( modal ).addClass( "chart" );

  function close() {
    chart.insertAfter( placeholder ).removeClass( "chart" );
    placeholder.remove();
    modal.remove();
  }
}

</script>
<style>
#chartdiv {
  width		: 100%;
  height		: 500px;
  font-size	: 11px;
    margin: auto;
    padding: 10px;
}
}
</style>
{% endblock %}
