{% extends 'base.html' %}
{% load staticfiles%}
{% load humanize %}
{% block content %}
<section class="content">
   <!-- Small boxes (Stat box) -->
   <div class="row">
      <div class="col-lg-3 col-xs-6">
         <!-- small box -->
         <div class="small-box bg-aqua">
            <div class="inner">
               <h3>{{act|floatformat|intcomma}}</h3>
               <p>Activaciones</p>
            </div>
            <div class="icon">
               <i class="ion ion-bag"></i>
            </div>
            <a  class="small-box-footer">{{act_fecha}}</a>
         </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
         <!-- small box -->
         <div class="small-box bg-green">
            <div class="inner">
               <h3>{{alt|floatformat|intcomma}}<sup style="font-size: 20px"></sup></h3>
               <p>Altas</p>
            </div>
            <div class="icon">
               <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">{{alt_fecha}} </i></a>
         </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
         <!-- small box -->
         <div class="small-box bg-yellow">
            <div class="inner">
               <h3>{{conv|floatformat:2}}%</h3>
               <p>Conversion a Altas</p>
            </div>
            <div class="icon">
               <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">{{alt_fecha}}</i></a>
         </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
         <!-- small box -->
         <div class="small-box bg-red">
            <div class="inner">
               <h33>{{re|intword|title}}</h33>
               <p>P2P Recargas</p>
            </div>
            <div class="icon">
               <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">{{re_fecha}}</a>
         </div>
      </div>
      <!-- ./col -->
   </div>
   <!-- /.row -->
   <!-- Main row -->
   <div class="row">
      <!-- Left col -->
      <section class="col">
         <!-- Custom tabs (Charts with tabs)-->
         <div class="nav-tabs-custom">
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs pull-right">
               <li class="active"><a href="#actividad" id="aredraw" data-toggle="tab">Actividad Comercial</a></li>
               <li><a href="#backoffice" id="bredraw" data-toggle="tab">Gestion Resolutiva</a></li>
               <li class="pull-left header"><i class="fa fa-inbox"></i> Resumen</li>
            </ul>
            <div class="tab-content no-padding">
               <!-- Morris chart - Sales -->
               <div class="chart tab-pane active" id="actividad" style="position: relative; height: 300px; width: 100%;">
               </div>
               <div class="chart tab-pane" id="backoffice" style="position: relative; height: 300px; width: 100%;">
               </div>
            </div>
         </div>
         <!-- /.nav-tabs-custom -->

      <!-- /.Left col -->
      <!-- right col (We are only adding the ID to make the widgets sortable)-->

         <!-- Map box -->
         <div class="box box-solid bg-light-blue-gradient">
            <div class="box-header">
               <!-- tools box -->
               <div class="pull-right box-tools">
                  <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse"
                     data-toggle="tooltip" title="Collapse" style="margin-right: 5px;">
                  <i class="fa fa-minus"></i></button>
               </div>
               <!-- /. tools -->
               <i class="fa fa-map-marker"></i>
               <h3 class="box-title">
                  ASI/AA
               </h3>
            </div>
            <div class="box-body">
               <!-- <div id="vmap"style="width: 450px; height: 450px;"></div> -->
               <div id="map" style="width: 1150px; height: 450px;"></div>
               <!-- <div id="world-map" style="height: 250px; width: 100%;"></div> -->
            </div>
            <!-- /.box-body-->
         </div>
         <!-- /.box -->

      <!-- right col -->
   </div>
   <!-- /.row (main row) -->
</section>
{% endblock %}
{% block extra_js %}
<!-- Grafico -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script src="{% static 'adminlte/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/jvectormap/jquery-jvectormap-ve-mill.js' %}"></script>
<script>
   var aChart = new Morris.Line({
     // ID of the element in which to draw the chart.
     element: 'actividad',
     // Chart data records -- each entry in this array corresponds to a point on
     // the chart.
     // Valores a tomar de la data en X
     data: [


       {% for i, b in ra.iterrows %}

         {ano:'{{b.Year}}', altas:{{b.altas}}, activaciones:{{b.activaciones}}, {% if b.bajas %} bajas:{{b.bajas}} {% endif %}
       },




       {% endfor %}
     ],
       xkey: ['ano'],
     // valores a tomar de la data en Y
     ykeys: ['activaciones','altas','bajas'],
     // Etiquetas para el grafico
     labels: ['activaciones','altas','bajas'],
     lineColors: [ '#0ea4e0','#1cbc7f','#e00f0f'],
     parseTime: false,
     resize: true,
     ymin:'auto'


   });
   jQuery(function($) {
       $('#aredraw').on('click', function() {
           $(window).trigger('resize');

       });
   });
</script>
<script>
   var bChart = new Morris.Bar({
     element: 'backoffice',
     data:[
       {% for i, b in rb.iterrows %}
         {ano:'{{b.fecha}}', escaladas:{{b.escaladas}}, resueltas:{{b.resueltas}} },
       {% endfor %}
     ],
     xkey: 'ano',
     ykeys: ['escaladas', 'resueltas'],
     labels: ['Total Escaladas', 'Total Resueltas'],
     fillOpacity: 0.6,
     resize: true,
     pointFillColors:['#ffffff'],
     pointStrokeColors: ['black'],
     barColors:['#2667B7','#6FAD88']
     // barColors:['#10ADB2','#305087']
   });
   jQuery(function($) {
       $('#bredraw').on('click', function() {
           $(window).trigger('resize');

       });
   });
</script>
<script>
   $('#map').vectorMap({
     map: 've_mill',
     backgroundColor: 1,
     markers:[
       {% for i, b in puntos.iterrows %}
         {latLng:[{{b.Latitud}},{{b.Longitud}}], name:'{{b.Nombre}}' },
       {% endfor %}
     ],

   });
</script>
{% endblock extra_js %}
{% block extra_style %}
<!-- jvectormap -->
<link rel="stylesheet" href="{% static 'adminlte/plugins/jvectormap/jquery-jvectormap-2.0.3.css' %}">
<style>h33 {
    display: block;
    font-size: 2em;
    margin-top: 0em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}</style>
{% endblock extra_style %}
